<div id="<%= dom_id task2 %>">
  <p>
    <strong>Title:</strong>
    <%= task2.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task2.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= task2.deadline %>
  </p>

</div>
